## Task2

Classificare tra Anomalie Known e Anomalie Unknown

In [14]:
import os
import pandas as pd

path_dataframes = "../dataset/dataframes"
file_path = os.path.join(path_dataframes, "test_data.pkl")

# Carica il DataFrame usando pd.read_pickle
df_test = pd.read_pickle(file_path)

In [15]:
print("Contenuto del DataFrame:")
print(df_test.head())

print("\nDimensione del DataFrame:")
print(df_test.shape)

Contenuto del DataFrame:
    TIME   P1   P2   P3   P4   P5   P6   P7  Case
0  0.000  2.0  2.0  2.0  2.0  2.0  2.0  2.0   178
1  0.001  2.0  2.0  2.0  2.0  2.0  2.0  2.0   178
2  0.002  2.0  2.0  2.0  2.0  2.0  2.0  2.0   178
3  0.003  2.0  2.0  2.0  2.0  2.0  2.0  2.0   178
4  0.004  2.0  2.0  2.0  2.0  2.0  2.0  2.0   178

Dimensione del DataFrame:
(55246, 9)

Preprocessing dati di test (contenenti potenziali anomalie unknown)

In [18]:
# Funzione per salvare in formato Pickle
def save_dataframe_pickle(df, filename):
    filepath = os.path.join(path_dataframes, filename)
    df.to_pickle(filepath)
    print(f"Salvato: {filepath}")

In [19]:
df_labels_test = pd.read_csv(os.path.join(path_dataframes, "labels_test.csv"))

# Unione dei DataFrame usando la colonna "Case" come chiave
df_test_labeled = df_test.merge(df_labels_test, on="Case", how="left")

# Salvataggio del nuovo DataFrame in CSV
df_test_labeled.to_csv(os.path.join(path_dataframes, "test_data_labeled.csv"), index=False)
save_dataframe_pickle(df_test_labeled, "test_data_labeled.pkl")

print("✅ DataFrame di test etichettato unito salvato in formato Pickle: dataset/dataframes/test_data_labeled.pkl")
print("✅ DataFrame etichettato unito salvato in: dataset/dataframes/test_data_labeled.csv")

# Mostrare le prime righe del nuovo dataset per verifica
display(df_test_labeled)

Salvato: ../dataset/dataframes\test_data_labeled.pkl
✅ DataFrame di test etichettato unito salvato in formato Pickle: dataset/dataframes/test_data_labeled.pkl
✅ DataFrame etichettato unito salvato in: dataset/dataframes/test_data_labeled.csv

,TIME,P1,P2,P3,P4,P5,P6,P7,Case,Spacecraft
0,0.000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,178,1
1,0.001,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,178,1
2,0.002,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,178,1
3,0.003,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,178,1
4,0.004,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,2.000000,178,1
...,...,...,...,...,...,...,...,...,...,...
55241,1.196,2.017816,2.016297,2.012680,2.044149,2.037457,2.033628,2.069056,223,4
55242,1.197,2.039878,2.055107,2.054626,2.071298,2.072899,2.076782,2.093548,223,4
55243,1.198,2.054024,2.081678,2.094493,2.096693,2.095300,2.107353,2.138567,223,4
55244,1.199,2.057180,2.094954,2.097106,2.153193,2.099423,2.112326,2.127471,223,4
55245,1.200,2.052882,2.094065,2.109058,2.132366,2.086639,2.091612,2.135966,223,4